@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #333;
    color: aliceblue;
    line-height: 1.6;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(163, 248, 223, 0.521);
    color: rgb(46, 46, 46);
    padding: 15px;
}

.slide .content h1{
    margin-bottom: 10px;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.9s ease-in-out 0.3s;
}

.buttons button#next{
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev{
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button{
    border: 0px solid rgba(163, 248, 223, 0.521);
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 13px 15px;
    outline: none;
    border-radius: 50%;
}

.buttons button:hover{
    background-color: rgba(163, 248, 223, 0.295);
    color: darkgray;
}

@media(max-width: 500px){
    .slide .content{
        bottom: -300px;
        left: 0;
        width: 100%;
        padding: 7px;
    }

    .slide.current .content{
        transform: translateY(-300px);
    }

    .slide .content h1{
        margin-bottom: 3.5px;
    }
}

/* Background Images*/
.slide:first-child{
    background: url('./images/image1.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){
    background: url('./images/image2.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
    background: url('./images/image3.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
    background: url('./images/image4.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
    background: url('./images/image5.jpg') no-repeat center top/cover;
}
.slide:nth-child(6){
    background: url('./images/image6.jpg') no-repeat center top/cover;
}

